.form-blank {
  display: flex;
  flex-direction: column;

  width: 448px;
  margin-left: auto;
  margin-right: auto;
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--link-normal-color);

  margin-bottom: 12px;
}
