.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 43px 8px 37px 8px;
  min-width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
//Closed BTN modal
.modal-button {
  position: absolute;
  top: 8px;
  right: 13px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  margin-left: 490px;
  fill: currentColor;
  transition: fill 250ms $cubicBezier;
  &:hover {
    color: $akcentColor;
  }
}
