.webstudio {
  font-family: $secondFont;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $akcentColor;
  text-decoration: none;

  display: inline-block;
  margin-right: 93px;
}
.studio {
  color: $titleTextColor;
}
