.studio-adress {
  width: 231px;
  margin-right: 70px;
}
.footer-list {
  font-style: normal;
}
.company-address {
  display: inline-block;
  margin-bottom: 9px;

  color: #ffffff;
  font-style: normal;
}
.contact-info {
  color: $colorContactInfo;
  text-decoration: none;

  display: inline-block;

  transition: color 250ms $cubicBezier;
  &:hover,
  &:focus {
    color: $akcentColor;
  }
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
